<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.coco3g.caopantx">

    <uses-permission android:name="android.intent.action.MEDIA_SCANNER_STARTED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许应用程序获取网络状态信息的权限。-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许应用程序获取Wifi网络状态信息的权限。 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--“允许应用程序访问网络的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--“允许应用程序读取外部存储器的权限。 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--允许应用程序改变Wifi网络连接状态的权限。-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--允许应用程序改变网络连接状态的权限。-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!--“允许应用程序拨打电话的权限。”-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--JPush-->
    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="signature"/>

    <application
        android:name="com.coco3g.caopantx.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">

        <activity
            android:name="com.coco3g.caopantx.activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.coco3g.caopantx.activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.coco3g.caopantx.activity.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.coco3g.caopantx.activity.ChongZhiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.TiXianActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"/>
        <activity
            android:name="com.coco3g.caopantx.activity.TGZQActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.XXZXActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.JFSCActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.RWZXActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.ForgetPwdActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.coco3g.caopantx.activity.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.MoNiTransActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.XieYiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.K_DetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.GuoJiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.GuoNeiActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.coco3g.caopantx.activity.AgreeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"/>
        <!--第三方配置-->
        <!--微信分享回调-->
        <activity
            android:name="com.coco3g.caopantx.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <!-- QQ登录配置 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1105555593"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--友盟统计-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58106eabe88bad1d31004470"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="CaoPanTianXia"/>

        <!--JPush-->
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false">
        </service>
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService"/>
                <category android:name="${applicationId}"/>
            </intent-filter>

        </service>
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.coco3g.caopantx.jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false"/>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="CaoPanTianXia"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="d29ad70b3e0b68997d9d8c99"/> <!--  </>值来自开发者平台取得的AppKey-->

    </application>

</manifest>